/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.mainsketch-bg-container{
    width: 750px;
    height: 750px;
    position: fixed;
    top: 10vh;
    opacity: .1;
    left: 25vw;
    z-index: -1;
}
 html{
     font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
 }
 h4{
    margin-bottom: .5rem;
    font-weight: 500 !important;
    line-height: 1.2;
    font-size: 1.5rem;
}
input{
    line-height: 2.2;
}
 .right{padding-right: 1rem;}
 .left{padding-left: 1rem;}
 #about-component-container, #projects-section, #skills-section, #home-section,#contact-done-verbiage{opacity: 0;}
 .footer-container{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 20vh;
 }
 .footer-container-inner{
     width: 30vw;
     display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem;
 }
 .contact-form{
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 100%;
 }
 .menu-bar{
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     align-items: center;
     width: 50vw;
 }
 .menu-item{border-bottom: 2px solid transparent;font-weight: 500; text-decoration: none !important; color: black;}
 .menu-item:hover, .header-link-ghostbutton:hover, .header-link-ghostbutton:focus{
     cursor: pointer !important;
     color:grey !important;
     border-bottom: 2px solid grey !important;
     font-weight: 600 !important;
     transition: .2s ease-in !important;
}
.wormfarmlink, .coming-soon{
    position: relative;
    left: 17vw;
    margin-bottom: 1rem;
}
.main-header{
    line-height: 1.1;
    letter-spacing: 5px;
    font-weight: 90;
    background: -webkit-linear-gradient(45deg, #09009f, #08a161b6 80%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}
.main-header-link{
    text-decoration: none;
}
.header-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15vh 0;
    
}
.footer-container{

}
.opec{
    opacity: 1;
}
.projects-header, .skills-header{margin-left: 2rem;}
.skills-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33vw;
}
.skill{
    width: 100%;
    border: 1px solid grey;
    margin-top: 1rem;
    height: 5rem;
}

.skill-body{
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;

}
.contact-submit-button{
    background: black;
    border: 2px solid black;
    width: 5rem;
    height: 2.5rem;
    color: #eee;
    transition: .2s linear;
    border-radius: 4px;
}
.contact-submit-button:hover, .contact-submit-button:focus{
    background: grey !important;
    border: 2px solid grey !important;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    width: 4.75rem;
    transition: .2s linear;
}
.label-input-container{width: 100%;}
.contact-input{width: 100%;}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.animate-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -4rem;
}
.animate-ele{
    border-radius: 50px;
    color: black;
    display: flex;
    width: 2rem;
    height: 2rem;
    background: rgb(59, 57, 57)
}
.about-section, .projects-section, .skills-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.projects-section, .skills-section{
    margin-top: 15vh;
}
.projects-section-inner{
    width: 50vw;
}
.skills-section-inner{
    width: 35vw;
}
.skills-quote{
    margin-left: 3rem;
}
.projects-header-container, .skills-header-container{
    margin-top: 15vh;
    margin-left: 2rem;
}
.project{
    min-height: 40vh;
    margin-top: 2rem;
    padding-top: 2rem;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.friendly-worm-farm-image{
    background-image: url('fwf_example.png');
    background-position: center;
    width: 13rem;
    height: 15rem;
    background-size: cover;
    background-repeat: no-repeat;
    padding-right: 15rem;
}
.ruby-on-rails-icon{
    background-image: url('ruby_on_rails.png');
    background-position: center;
    width: 3rem;
    height: 3rem;
    background-size: cover;
    background-repeat: no-repeat;

}
.reactjs-icon{
    background-image: url('reactjs.png');
    background-position: center;
    width: 3rem;
    height: 3rem;
    background-size: cover;
    background-repeat: no-repeat;
}
.redux-icon{
    background-image: url('redux.png');
    background-position: center;
    width: 3rem;
    height: 3rem;
    background-size: cover;
    background-repeat: no-repeat;
}
.jwt-icon{
    background-image: url('jwt-icon.png');
    background-position: center;
    width: 3rem;
    height: 3rem;
    background-size: cover;
    background-repeat: no-repeat;

}
.git-icon{
    background-image: url('github.jpg');
    background-position: center;
    width: 3rem;
    height: 3rem;
    background-size: cover;
    background-repeat: no-repeat;
}
.p5-icon{
    background-image: url('p5icon.png');
    background-position: center;
    width: 3rem;
    height: 3rem;
    background-size: cover;
    background-repeat: no-repeat;
}
.servicenow-icon{
    background-image: url('service_now.png');
    background-position: center;
    width: 3rem;
    height: 3rem;
    background-size: cover;
    background-repeat: no-repeat;
}
.angular-icon{
    background-image: url('angularjs.png');
    background-position: center;
    width: 3rem;
    height: 3rem;
    background-size: cover;
    background-repeat: no-repeat;
}
.node-icon{
    background-image: url('node_js.png');
    background-position: center;
    width: 3rem;
    height: 3rem;
    background-size: cover;
    background-repeat: no-repeat;
}
.vanillajs-icon{
    background-image: url('vanilla_js.png');
    background-position: center;
    width: 3rem;
    height: 3rem;
    background-size: cover;
    background-repeat: no-repeat;
}
.jquery-icon{
    background-image: url('jquery.png');
    background-position: center;
    width: 3rem;
    height: 3rem;
    background-size: cover;
    background-repeat: no-repeat;
}
.bootstrap-icon{
    background-image: url('bootstrap.jpg');
    background-position: center;
    width: 3rem;
    height: 3rem;
    background-size: cover;
    background-repeat: no-repeat;
}
.materialui-icon{
    background-image: url('materialui.png');
    background-position: center;
    width: 3rem;
    height: 3rem;
    background-size: cover;
    background-repeat: no-repeat;
}
.recaptcha-icon{
    background-image: url('recaptcha.png');
    background-position: center;
    width: 3rem;
    height: 3rem;
    background-size: cover;
    background-repeat: no-repeat;
}
.skill-pill-image{
    background-position: center;
    width: 2rem;
    height: 2rem;
    background-size: cover;
    background-repeat: no-repeat;
}
.rubyIconStyle{
    background-image: url('ruby_on_rails.png');
}
.reactIconStyle{
    background-image: url('reactjs.png');
}
.reduxIconStyle{
    background-image: url('redux.png');
}
.JWTIconStyle{
    background-image: url('jwt-icon.png');
}
.p5jsIconStyle{
    background-image: url('p5icon.png');
}
.recaptchaIconStyle{
    background-image: url('recaptcha.png');
}
.materialUiIconStyle{
    background-image: url('materialui.png');
}
.gitIconStyle{
    background-image: url('github.jpg');
}
.herokuIconStyle{
    background-image: url('herokuicon.png');
}
.main-sketch-container-outer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.project-body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
    min-height: 28vh;
    padding: 1rem;
}
.project-image-container{
    width: 33%;
    margin-left: 1rem;
    /* border-right: 1px solid grey; */
}
.project-desc-container{
    width: 67%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 3rem;
    margin-right: 1rem;
    font-family: 'Times New Roman';
}
.project-footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 20%;
    min-height: 3rem;
    border-top: 1px solid grey;
}
.about-para{
    width: 25vw;
}
.greet{
    margin-top: 10vh;
    margin-bottom: .5rem;
}
.ele1{
    opacity:.6;
    animation: yAxis1 2.5s infinite cubic-bezier(0.3, 0.27, 0.07, 1.64);
    
}
.skill-pill{
    min-width: 12rem;
    min-height: 2.5rem;
    border-radius: 20px;
    border: 1px solid grey;
    margin-left: 2rem;
    padding: 5px;
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}
.skill-pills-container{
    width: 100%;
    min-height: 3rem;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-y: hidden;
}
.ele1-container{
    color: black;
    width: 2rem;
    height: 2rem;
    border-radius: 50px;
    display: flex;
    opacity:.6;
    animation: xAxis1 2.5s infinite cubic-bezier(0.02, 0.01, 0.21, 1);
    position: relative;
    top: 3rem;
}
.emoji-placeholder{
    display: flex;
    justify-content: center;
    font-size: 7rem;
}

@keyframes yAxis1 {
    50% {
      animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
      transform: translateY(-50px);
    }
  }
  
  @keyframes xAxis1 {
    50% {
      animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
      transform: translateX(50px);
    }
  }
.ele2{
    opacity: .9;
    animation: yAxis2 2.5s infinite cubic-bezier(0.3, 0.27, 0.07, 1.64);
}
.ele2-container{
    animation: xAxis2 2.5s infinite cubic-bezier(0.02, 0.01, 0.21, 1);
}
@keyframes xAxis2{
    50% {
        animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
        transform: translateX(-50px);
      }
}
@keyframes yAxis2{
    50% {
        animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
        transform: translateY(50px);
      }
}
.ele3{
    opacity: .4;
    animation: yAxis3 2.5s infinite cubic-bezier(0.3, 0.27, 0.07, 1.64);
}
.ele3-container{
    position: relative;
    right: 2rem;
    animation: xAxis3 2.5s infinite cubic-bezier(0.02, 0.01, 0.21, 1);
}
@keyframes xAxis3{
    50% {
        animation-timing-function: cubic-bezier(0.3, 0.27, 0.07, 1.64);
        transform: translateX(25px);
      }
}
@keyframes yAxis3{
    50% {
        animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
        transform: translateY(50px);
      }
}
@keyframes fadeIn{
    0%{opacity: 0;}
    100%{opacity: 1 !important;}
}
@keyframes fadeOut{
    0%{opacity: 1;}
    100%{opacity: 0;}
}
@media only screen and (max-width: 850px) {
    .about-para, .footer-container-inner,.skills-section-inner, .skills-header-container, .skills-list, .project, .projects-section-inner{width: 80vw !important;}
    .project-body{flex-direction: column;}
    .wormfarmlink{left: 10vw;}
    canvas{ width: 100vw !important; overflow-x: clip;}
    .friendly-worm-farm-image{
        background-size: 14rem;
    }
}
